.bck {
    width: 100vw;
    height: 890px;
    background-image: url(03-images/hero-lg.png);
    background-size: cover;
    background-position: center;
}
.mask {
    width: 100%;
    display: block;
    margin-top: 200px;
}

@media (max-width: 500px) {
    .mask img {
        width: 100%;
    }
}

.info {
    color: white;

}

.btn {
    opacity: 0.9;
    align-items: center;
    justify-content: center;
    display: flex;
 width: 170px;
 height: 40px;
 border-radius: 5px;
 background-color: var(--clr-4);   
 display: flex;
 gap: 15px;

}
.bin {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: white;
    opacity: 0.6;
}

.bin-active {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: white;
}


.clickme {
    align-items: center;
    gap: 15px;
    justify-content: end;
    cursor: pointer;

}



@media (max-width: 500px) {
    .btn  {
        display: none;
    }
}

