button {
    margin-top: 15px;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(39, 39, 39);
    color: #fff;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: rgb(126, 126, 126);
}
.cards {
  display: flex;
  overflow: hidden;
}

.cards .card {
  flex: 0 0 calc(100% / 5); /* для одной карточки */
  margin-right: 20px;
}

#Worldwide .cards .card {
  flex: 0 0 calc(100% / 3); /* 3 партнёра одновременно */
}

/* Анимация "плавного выезда" */
.cards {
  transition: transform 0.5s ease-in-out;
}
